streamlit == 1.39.0
langchain == 0.3.3
langchain-openai == 0.2.0 
langchain-chroma == 0.1.2
langchain-community == 0.3.1
langchain-core == 0.3.10
langchain-text-splitters  == 0.3.0
beautifulsoup4  == 4.12.2
pysqlite3-binary

